<!DOCTYPE html>
<html>
  <head>
    <title> Carrito </title>
    <style>
    html {
        margin-left: 5px;
    }
    h1 {
        margin-left: 10px;
    }
    th, td {
        padding: 5px;
        border: 1px solid black;
        text-align: center;
    }
    th, td {
        width: 100px;
        height: 34px;
    }
    th {
        background-color: rgb(196, 196, 196);
    }
    tr:nth-child(odd) {
        background-color: rgb(238, 238, 238);
    }
    a {
        float: left;
        margin: 20px 0 0 30px;
        padding: 2px;
        border: 1px solid rgb(29, 29, 29);
        color: black;
    }
    #return {
        color: black;
        text-decoration: none;
    }
    #finish {
        float: left;
        margin: 20px 15px;
        padding: 3.5px;
        border: 1px solid rgb(29, 29, 29);
        background-color: white;
    }
    #return:hover, #finish:hover {
        background-color: rgb(136, 136, 136);
        color: white;
    }
    #tabla2{
        float: left;
        margin-top: 10px;
    }
    </style>
  </head>
  <body>
    <h1> Carrito </h1>
    <table>
        <tr>
            <th> Ref </th>
            <th> Nombre </th>
            <th> Unidades </th>
            <th> P/U </th>
            <th> Subtotal </th>
        </tr>
    <% var total = 0 %>
    <% for (var i = 0; i < productos.length; i++) { %>
        <tr>
            <td> <%=productos[i].ref %> </td>
            <td> <%=productos[i].nombre %> </td>
            <% if (productos[i].existencias >= productos[i].productocarrito.cantidad) { %>
                <td> <%=productos[i].productocarrito.cantidad %> </td>
                <td> <%=productos[i].precio %> </td>
                <td> <%=productos[i].precio * productos[i].productocarrito.cantidad %> </td>
                <% total += productos[i].precio * productos[i].productocarrito.cantidad; %>
            <% } else { %>
                <td colspan="3"> No hay existencias </td>
            <% } %>
        </tr>
    <% } %>
    </table>
    <table id="tabla2">
        <tr>
            <td> Total </td>
            <td> <%=total.toFixed(2) %> </td>
        </tr>
    </table>
    <a id="return" href="/"> Seguir Comprando </a>
    <form action="/checkout" method="POST">
        <input type="hidden" name="total" value="<%= total.toFixed(2) %>">
        <input type="submit" id="finish" value="Finalizar compra">
    </form>
</body>
</html>
